div{
    text-align: center;
}
h1{
    font-size: 80px;
    font-weight: 700;
    font-family: Impact;
}
p{
    font-size: 35px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif; 
}
button{
    height:80px ;
    width: 250px;
    background-color: blue;
    color:white ;
}
button:hover{
    background-color: green;
}